.banner {
  background-size: cover;
  padding-top: 40%;
  padding-bottom: 40%;
  color: #fff;
}

a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50px;
  background-color: #333;
  line-height: 40px;
}

